.container {
  justify-self: start;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.button {
  margin-top: 4px;
  background: none;
  height: auto;
}

.numberInput {
  flex: 1;
  max-width: 3rem;
  text-align: center;
  min-height: 56px;
  composes: paragraphText from global;
}

/* MEDIA QUERIES */
@media (max-width: 899px) {
  .container {
    width: fit-content;
  }

  .numberInput {
    min-height: 36px;
    max-height: 100%;
  }
}
