@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

p {
  text-wrap: pretty;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.visually-hidden {
  display: none;
}

.inner {
  padding: 100px 72px;
}

.heading {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.paragraphText {
  font-size: 1rem;
}

.primaryButton {
  color: white;
  background-color: black;
  border-radius: 5px;
}

.link {
  color: #7c7c7c !important;
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: color 0.1s ease-out;
}

.link:hover {
  color: black !important;
}

/* MEDIA QUERIES */
@media (max-width: 999px) {
  .inner {
    padding: 100px 48px;
  }
}

@media (max-width: 899px) {
  .paragraphText {
    font-size: 0.9rem;
  }
}

@media (max-width: 779px) {
  .inner {
    padding: 72px 48px;
  }
}

@media (max-width: 599px) {
  .inner {
    padding: 12vmin 4vmin;
  }
}

@media (max-width: 444px) {
  .heading {
    font-size: 1.2rem;
  }
}

/* for narrow mobile screens, landscape */
@media (max-height: 376px) {
  .inner {
    padding: 8vmin 4vmin;
  }
}
