@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
}

p {
  text-wrap: pretty;
}

.visually-hidden {
  display: none;
}

.inner {
  padding: 100px 72px;
}

.paragraphText {
  font-size: 1rem;
}

/* MEDIA QUERIES */
@media (max-width: 999px) {
  .inner {
    padding: 100px 48px;
  }
}

@media (max-width: 899px) {
  .paragraphText {
    font-size: 0.9rem;
  }
}

@media (max-width: 779px) {
  .inner {
    padding: 72px 48px;
  }
}

@media (max-width: 599px) {
  .inner {
    padding: 12vmin 4vmin;
  }
}

/* for narrow mobile screens, landscape */
@media (max-height: 376px) {
  .inner {
    padding: 8vmin 4vmin;
  }
}
