.slide {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.previewImage {
  max-width: 50vmin;
  margin-bottom: 8px;
}

.productName {
  composes: paragraphText from "../homePage.module.css";
}

.price {
  font-size: 0.875rem;
}

/* MEDIA QUERIES */
@media (max-width: 899px) {
  .price {
    font-size: 0.75rem;
  }
}

@media (max-width: 433px) {
  .previewImage {
    width: 80vw;
  }
}
