.link {
  width: 35vmin;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.previewImage {
  max-width: 100%;
  margin-bottom: 12px;
  min-height: 20vw;
  border-radius: 8px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.productName {
  composes: paragraphText from global;
}

.price {
  font-size: 0.88rem;
  color: var(--grey-colour);
}

/* MEDIA QUERIES */
@media (max-width: 899px) {
  .previewImage {
    min-height: max(40vw, 180px);
  }

  .price {
    font-size: 0.75rem;
  }
}

@media (max-width: 433px) {
  .productName {
    line-height: 1.35rem;
  }
}
