.link {
  width: 35vmin;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.previewImage {
  max-width: 100%;
  margin-bottom: 12px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.productName {
  composes: paragraphText from global;
}

.price {
  font-size: 0.88rem;
  color: var(--grey-colour);
}

/* MEDIA QUERIES */
@media (max-width: 899px) {
  .price {
    font-size: 0.75rem;
  }
}

@media (max-width: 433px) {
  .card {
    margin: 0 auto;
  }
}
