.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr 1fr 2fr;
  gap: 12px 18px;
}

.gridItem:first-child {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.gridItem:last-child {
  grid-column: 1 / -1;
}

.image {
  max-width: 100%;
  min-height: 272px;
  border-radius: 8px;
}
